*
{   box-sizing: border-box;
}

:root
{   /* --div-brd-color: blue; */
    --div-brd-radius: 2px;
    --head-bg-color: blue;
    --head-brd-color: darkblue;
    --head-text: white;
}

header
{   background: var(--head-bg-color);
    border: 2px solid var(--head-brd-color);
    border-radius: 5px;
    color: var(--head-text);
    font-size: 36px;
    padding: 20px;
    text-align: center;
}
#main-content
{   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.foodie-section, .map-section
{   max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.zomato-site
{   border: 1px solid var(--head-bg-color);
    border-radius: var(--div-brd-radius);
    margin-bottom: 60px;
    padding: 0px;
}

.div-header
{   background: var(--head-bg-color);
    color: var(--head-text);
    padding: 10px;
}

.div-text
{   padding: 10px;
}

.button
{   background: var(--head-bg-color);
    border: 1px solid var(--head-brd-color);
    border-radius: 2px;
    color: var(--head-text);
    margin-top: 10px;
    padding: 5px;
}

.button:hover
{   background: var(--head-text);
    color: var(--head-bg-color);
}

/*                                  */
/* style for input form             */
/*                                  */

.input-div
{   border: 1px solid var(--head-bg-color);
    border-radius: var(--div-brd-radius);
    margin-bottom: 10px;
}

form
{   padding: 10px;
}

.text-input
{   width: 100%;
}

/*                                  */
/* miscellaneous style              */
/*                                  */

.map
{   display: flex;
    justify-content: center;
}

/*                                  */
/* style for sticky footer          */
/*                                  */

body, html
{   height: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper
{   height: auto;
    margin-bottom: -30px;
    padding: 10px;
    min-height: 100%;
}

.push
{   background: yellow;
    clear: both;
    height: 31px;
}

footer
{   background: var(--head-bg-color);
    border: 1px solid var(--head-brd-color);
    border-radius: 5px;
    color: var(--head-text);
    font-size: 10px;
    margin: 10px;
    padding: 10px;
}

/*                                  */
/* style for sticky footer          */
/*                                  */

@media screen and (max-width: 840px)
{   .foodie-section, .map-section
    {   width: 100%;
    }
}